//Most stack's seem have a prefered method for asset management.  
//This method is built to make it fairly easy to convert. 
$nav-button-color: #11b59b;
$nav-height:40px;
$drop-down-button-color: #49c6ae;
$drop-down-menu-color: #51cbb0;
$footer-color: #3a3a3a;
$footer-text: #aaaaaa;
$lawyer-state: #01999d;
$resources-button: #00cea6;
$nav-height:60px;
$nav-pb:30px;
$index-title-color:#024b6d; 
$footer-link-color:#0bb979;
//depending on this answer, can switch it with just one color.

@mixin gutter-fill{
	position:absolute;
	top: 0;
	left: 50%;
	content: '';
	transform: translate(-50%);
	height:100%;
	width:100vw;
}

.actionWrapper{
	color: $index-title-color;
	font-family: 'Roboto', sans-serif;
	padding:30px;
	p{
		font-size:20px;
		font-family: serif;
		color: grey;
	}
}

.hero{
	width:100%;

}
.imageHolder.hero{
	display:block;
	margin:0 auto;
	&, .heroCheat{
		max-width:1900px;
	}	
}

.heroCheat{
	
	margin:0 auto;
	display:block;
}

.heroSpacer{
/* Reset Select */
	padding: 10px 20px;
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		outline: 0;
		box-shadow: none;
		border: 0 !important;
		background: $nav-button-color;
		background-image: none;
	}
	/* Remove IE arrow */
	select::-ms-expand {
	  display: none;
	}
	/* Custom Select */
	.select {
		position: relative;
		display: flex;
		width: 100%;
		height: 3rem;
		line-height: 3;
		background: #2c3e50;
		overflow: hidden;
		border-radius: .25em;
	}
	select {
		flex: 1;
		padding: 0 .5em;
		color: white;
		cursor: pointer;
		&:disabled{
			background: lighten($nav-button-color, 30%);
		}
	}
	/* Arrow */
	.select::after {
	  color: white;
	  content: '\25BC';
	  position: absolute;
	  top: 0;
	  right: 0;
	  padding: 0 1em;
	  background: darken($nav-button-color, 10%);
	  cursor: pointer;
	  pointer-events: none;
	  -webkit-transition: .25s all ease;
	  -o-transition: .25s all ease;
	  transition: .25s all ease;

	}
}

.contactLinks{
	a{
		display:block;

	}
}
h2.sectionTitle{
	text-align:center;	
	color: $index-title-color;
	margin-bottom:20px;
	&.states{
		color: white;
	}
}
.articleSection{
	padding-bottom:20px;
}

h3.articleTitle{
	margin-top:20px;
	font-weight: bold;
	color: $index-title-color;
	font-size:1.5rem;
	margin-bottom:40px;
}

.col-sm-4{
	h3.articleTitle{
		font-size:1.25rem;	
	}
}
//fixes issues where setting a background using :before doesn't account for the scrollbar. 
html, body {
	overflow-x:hidden;
	font-family: 'Roboto', sans-serif;
}


.dropdown-menu{
	height:200px;
	overflow-y:auto;
}

.inputBox{
	position:absolute;
	background: white;
	max-width:700px; // done in the interest of speed. 
	opacity:70%;
	width:100%;
	margin-top: 50px;
	margin-left: 30px;
	.callToAction{
		font-size:80px;
	}
}

@media (max-width: 810px) {
	.inputBox{
		width:100%;
		margin-top:90px;
		margin-left:0px;
		.callToAction{
			font-size:60px;
		}
	}
}


.navStyle{
	padding-left:40px;
	padding-right:40px;
	padding-bottom: $nav-pb;
	background-color:white;

	a.navContent{
		&, &:focus, &:focus-within, &:visited, &:hover, &:active{
			font-size:32px;
			color:grey;
		}

	}
	a.menuNav{
		&, &:focus, &:focus-within, &:visited, &:hover, &:active{
			font-size:20px;
			color:$index-title-color;
			font-weight: bold;
			margin-right:20px;
		}
		&.touchButton{
			color:white;
			display:inline-block;
			background: $nav-button-color;
			padding:10px 30px;
			border-radius: 5px;
		}
	}
}

.nav-adjust{
	margin-top: $nav-height;
}

.stateLawyers{
	position:relative;
	background: $lawyer-state;
	padding-bottom:60px;
	padding-top:20px; 	
}
.stateLawyers:before{
	@include gutter-fill;
	background: $lawyer-state;
}

.footer{
	position: relative;
	background: $footer-color;
	color: $footer-text;
	padding-top: 20px;
	padding-bottom: 20px;
	.address{
		text-align: left;
	}
	.legalLinks{
		display: block;
		a{
			color: $footer-link-color;
			text-decoration: underline;
			cursor: pointer;
		}
	}
	.socialLinks{
		img{
			margin-right:5px;
			max-width:30px;
		}
	}
	.contactLinks a{
		text-decoration:none;
		color: $footer-text;
		&:hover{
			text-decoration: underline;
		}
	}

}
.stateLinks{
	.center{
		text-align: center;
		margin-top:10px;
		margin-bottom:10px;
	}
	a{
		color: white;
		padding-top:10px;
		padding-bottom:10px;
	}
}
.footer:before{
	@include gutter-fill;
	position:absolute;
	background:$footer-color;
}

.outlineButton{
	display:inline-block;
	margin:0 auto;
	background-color:transparent;
	color: #00cda5;
	border: 2px solid #00cda6;
	.inner{
		line-height:2.5em;
		padding:30px 10px;
		font-weight: bold;
	}

}
.center{
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}