//Most stack's seem have a prefered method for asset management.  
//This method is built to make it fairly easy to convert. 
$nav-button-color: #11b59b;
$nav-height:40px;
$drop-down-button-color: #49c6ae;
$drop-down-menu-color: #51cbb0;
$footer-color: #3a3a3a;
$lawyer-state: #01999d;
$resources-button: #00cea6;
$nav-height:60px;
$nav-pb:30px;
//depending on this answer, can switch it with just one color.

@mixin gutter-fill{
	position:absolute;
	top: 0;
	left: 50%;
	content: '';
	transform: translate(-50%);
	height:100%;
	width:100vw;
}

.actionWrapper{
	color:blue;
	font-family: 'Roboto', sans-serif;
	padding:30px;
	p{
		font-size:20px;
		font-family: serif;
		color: grey;
	}
}

.hero{
	width:100%;

}
.heroSpacer{
	//padding:0 20px;

}
.heroGroup{
	position:relative;
	
	margin-bottom:10px;
	input{
		border:0;
	}
	input::placeholder{
		color: white;
	}
	input:-ms-input-placeholder{
		color:white;
	}
	input::-ms-placeholder{
		color:white;
	}
	button, input, .dropdown-menu, .dropdown-item{
		background-color: $drop-down-menu-color;
		color: white;
		text-align:right;
	}
	&,& .wide, .dropdown-menu, .dropdown-item{
		width:100%;
	}
	.dropdown-menu{
		
	}
}

h2.sectionTitle{
	text-align:center;	
}

//fixes issues where setting a background using :before doesn't account for the scrollbar. 
html, body {
	overflow-x:hidden;
}


.dropdown-menu{
	height:200px;
	overflow-y:auto;
}

.inputBox{
	position:absolute;
	background: white;
	max-width:700px; // done in the interest of speed. 
	left:12%;
	top:10%;
	opacity:70%;
	width:100%;
	.callToAction{
		font-size:80px;
	}
}

//JMC: come back and optimize;
.imageHolder{
	&.hero{
		max-width:3000px;
 		margin:0 auto;
	}
}

.navStyle{
	height: $nav-height;
	padding-bottom: $nav-pb;
	background-color:white;
	a.navContent{
		&, &:focus, &:focus-within, &:visited, &:hover, &:active{
			font-size:32px;
			color:grey;
		}

	}
}

.nav-adjust{
	margin-top: $nav-height;
}

.stateLawyers{
	position:relative;
	background: $lawyer-state;

 	
}
.stateLawyers:before{
	@include gutter-fill;
	background: $lawyer-state;
}

.footer{
	position:relative;
	background:$footer-color;
}

.footer:before{
	@include gutter-fill;
	position:absolute;
	background:$footer-color;
}

